@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--light-500: '#ffffff';
		--dark-500: #0f0f0f;
		--dark-text: #f5f4f8;
		--header-height: 64px;
		--link-color: #3ea6ff;
	}
}
html {
	overflow-x: hidden;
	height: 100dvh;
	overflow-wrap: anywhere;
	background-color: white;
}

html.dark {
	background-color: var(--dark-500);
	color: var(--dark-text);
	color-scheme: dark;
}

body {
	height: 100%;
}

.youtube-html a {
	color: var(--link-color);
}

@layer components {
	.container-youko {
		@apply container px-4 mx-auto;
		transition: max-width 450ms;
		padding-bottom: 2rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

.custom-scroll {
	scrollbar-gutter: stable;
	scrollbar-width: thin;
	scrollbar-color: #ffffff00 transparent;
}

.custom-scroll::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
	background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 1px;
	border: transparent;
	visibility: hidden;
}

.dark .custom-scroll::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.5);
}

.custom-scroll:hover {
	scrollbar-color: #ffffff50 transparent;
}

.custom-scroll:hover::-webkit-scrollbar-thumb {
	visibility: visible;
}
